APP_HOST=127.0.0.1
APP_PORT=8000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSLMODE=disable
DEFAULT_ENGINE=postgres
DEFAULT_ROW_LIMIT=200
DATASET_NAMES=sales_lab,hr_lab,finance_lab,healthcare_lab,logistics_lab,social_lab
QUERY_TIMEOUT_MS=5000
